* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(images/two-children.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
  background: linear-gradient(to right, #000 0%, #60b4e7);
  color: #fff;
  font-family: sans-serif;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

@media only screen and (min-width: 480px) and (max-width: 1280px) {
  #wrapper {
    width: 100%;
    height: 100vh;
    flex-direction: row;
    padding-bottom: px;
  }
}

.wrapper1 {
  flex-basis: 40%;
  padding: 0;
}

div.img-section {
  width: 100%;
  height: 320px;
  /* border: 5px red solid; */
  margin-bottom: 1rem;
}

@media only screen and (min-width: 480px) and (max-width: 1280px) {
  div.img-section {
    width: 100%;
    /* border: 5px red solid; */
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
  }
}

img.profile-pic {
  width: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.info-profile-text {
  text-align: center;
  padding: 0 0 1rem 0;
  color: #fff;
}

.wrapper2 {
  flex-basis: 50%;
  padding: 0 2rem;
  /* border: 1px solid; */
}

@media only screen and (min-width: 480px) and (max-width: 1280px) {
  .wrapper2 {
    padding: 30px;
    margin-right: 20px;
  }
}

.info-profile-text h1 {
  font-size: 25px;
}

h1 {
  font-size: 25%;
}

.info-first-p {
  color: #f3bf99;
  font-weight: 400;
  font-size: 12.8px;
  margin-top: 0.3rem;
}

.info-sec-p {
  margin-top: 1rem;
  font-size: 10.24px;
}

.profile-text {
  margin: 0px;
  padding: 1rem 2rem;
}

.about p,
.interest p,
.stack p {
  color: #dcdcdc;
  line-height: 15.36px;
  font-size: 10.24px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  text-align: justify;
}

@media only screen and (min-width: 480px) and (max-width: 1280px) {
  .about p,
  .interest p,
  .stack p {
    line-height: 20px;
    font-size: 16px;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
  }
}

.info-btns {
  width: 145px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border: none;
}

@media only screen and (min-width: 480px) and (max-width: 1280px) {
  .info-btns {
    width: 45%;
  }
}

.icons {
  margin: 0.5rem;
}

footer {
  justify-content: center;
  display: flex;
  flex-basis: 10%;
  flex-direction: row;
  padding-top: 25px;
  padding-bottom: 50px;
}

@media only screen and (min-width: 480px) and (max-width: 1280px) {
  footer {
    flex-direction: column;
    justify-content: start;
  }
}
