/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* background-image: url(images/two-children.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; */
  background: linear-gradient(to right, #000 0%, #60b4e7);
  color: #fff;
  font-family: "inter", sans-serif;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

@media only screen and (min-width: 480px) {
  #wrapper {
    width: 100%;
    height: 100vh;
    flex-direction: row;
    padding-bottom: px;
  }
}

.wrapper1 {
  flex-basis: 40%;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .wrapper1 {
    height: 100vh;
  }
}
.img-section {
  width: 100%;
  height: 320px;
  /* border: 5px red solid; */
  margin-bottom: 1rem;
}

@media only screen and (min-width: 480px) {
  .img-section {
    width: 100%;
    height: 70%;
    /* border: 5px red solid; */
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
  }
}

img.profile-pic {
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

@media only screen and (min-width: 480px) {
  img.profile-pic {
    height: 100%;
  }
}

.info-profile-text {
  text-align: center;
  padding: 0 0 1rem 0;
  color: #fff;
}

.wrapper2 {
  flex-basis: 50%;
  padding: 0 2rem;
  line-height: 2rem;
}

@media only screen and (min-width: 480px) {
  .wrapper2 {
    padding: 30px;
    margin-right: 20px;
    font-size: 12px;
  }
}

/* .info-profile-text h1 {
  font-size: 25px;
} */

h1 {
  font-size: 40px;
}

.info-first-p {
  color: #f3bf99;
  font-weight: 400;
  font-size: 12.8px;
  margin-top: 0.3rem;
}

.info-sec-p {
  margin-top: 1rem;
  font-size: 10.24px;
}

.profile-text {
  margin: 0px;
  padding: 1rem 2rem;
}

.about p,
.interest p,
.stack p {
  color: #dcdcdc;
  line-height: 15.36px;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  text-align: left;
  line-height: 1.5rem;
}

@media only screen and (min-width: 480px) {
  .about p,
  .interest p,
  .stack p {
    line-height: 1.8rem;
    font-size: 16px;
    margin-top: 0.3rem;
    margin-bottom: 2rem;
  }
}

a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.btn_wrapper {
  display: flex;
  justify-content: space-around;
}

button {
  width: 48%;
  border-radius: 5px;
  padding: 1rem 0;
  margin-top: 0.5rem;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

@media only screen and (min-width: 480px) {
  button {
    font-size: 18px;
  }
}

.icons {
  margin: 0.5rem;
}

footer {
  justify-content: center;
  display: flex;
  flex-basis: 8%;
  flex-direction: row;
  padding-bottom: 15px;
}

@media only screen and (min-width: 480px) {
  footer {
    flex-direction: column;
    justify-content: start;
  }
}
